<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Actualizar producto</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Cerrar"
      (click)="modalRef.close()"
    ></button>
  </div>
  <form
    autocomplete="off"
    [formGroup]="miFormulario"
    (ngSubmit)="productUpdate()"
  >
    <div class="modal-body">
      <div class="row mb-5 mt-3 ms-3 me-3">
        <mdb-form-control>
          <input
            mdbValidate
            mdbInput
            type="text"
            class="form-control"
            formControlName="barcode"
          />
          <label mdbLabel class="form-label">Barcode</label>
          <mdb-error *ngIf="campoNoValido('barcode')">
            {{ barcodeErrorMsg }}
          </mdb-error>
        </mdb-form-control>
      </div>
      <div class="row mb-5 ms-3 me-3">
        <mdb-form-control>
          <input
            mdbValidate
            mdbInput
            type="text"
            class="form-control"
            formControlName="nombre"
            required
          />
          <label mdbLabel class="form-label">Nombre</label>
          <mdb-error *ngIf="campoNoValido('nombre')">
            El campo nombre es obligatorio
          </mdb-error>
        </mdb-form-control>
      </div>
      <div class="row mb-5 ms-3 me-3">
        <mdb-form-control>
          <input
            mdbValidate
            mdbInput
            type="number"
            class="form-control"
            formControlName="costo_kilo"
            required
          />

          <label mdbLabel class="form-label">Costo por kilo</label>
          <mdb-error *ngIf="campoNoValido('costo_kilo')">
            {{ costoKiloErrorMsg }}
          </mdb-error>
        </mdb-form-control>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cerrar
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="miFormulario.invalid || miFormulario.pending"
      >
        Guardar
      </button>
    </div>
  </form>
