<app-navbar [namePage]="namePage"></app-navbar>
<div class="container">
  <!-- <div class="container-fluid">
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
  > -->
  <div class="row justify-content-center align-items-center g-2 text-center">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h1>BIENVENIDO AL SISTEMA DE INVENTARIO</h1>
      <hr class="hr hr-blurry" />
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <img src="./../../../../assets/imgs/home.svg" class="img-fluid" alt="" />
    </div>
  </div>
</div>
<!--   </div>
</div>
 -->
